<div class="container">
<div class="row">
<div class="col-md-6 wow animated slideInLeft" data-wow-delay=".5s">
<h3>Vaste data...</h3>

</br>

<ul>

  <li><strong>BTW - kwartaalaangifte: uiterste datum voor betaling en indiening</strong></li>
  </br>

  <table class="table table-sm">
    <tr>
      <td>20 januari</td>
      <td>20 april</td>
    </tr>
    <tr>
      <td>20 juli</td>
      <td>20 oktober</td>
    </tr>
  </table>

  <li><strong>BTW - Maandaangifte: uiterste datum voor betaling en indiening</strong></li>
  </br>

  <table class="table table-sm">
    <tr>
      <td>20 januari</td>
      <td>20 februari</td>
    </tr>
    <tr>
      <td>20 maart</td>
      <td>20 april</td>
    </tr>
    <tr>
      <td>20 mei</td>
      <td>20 juni</td>
    </tr>
    <tr>
      <td>20 juli</td>
      <td>20 augustus</td>
    </tr>
    <tr>
      <td>20 september</td>
      <td>20 oktober</td>
    </tr>
    <tr>
      <td>20 november</td>
      <td>20 december</td>
    </tr>
  </table>

  <li><strong>Voorafbetalingen Vennootschapsbelasting en personenbelasting</strong></li>
  </br>

  <table class="table table-sm">
    <tr>
      <td>10 april</td>
      <td>10 juli</td>
    </tr>
    <tr>
      <td>10 oktober</td>
      <td>20 december</td>
    </tr>
  </table>
  </br>
</ul>
</div>

<div class="col-md-2"></div>

<div class="col-md-4 jumbotron news wow animated slideInRight" data-wow-delay=".5s">

  <p><strong>Nieuws</strong></p>
  </br>

  <p>Denk aan je volgende Kwartaalaangifte</p>
  <p>bezorg mij uw documenten voor een tijdige aangifte</p>
</div>

<br />
<br />

</div>
</div>
