<!--<div class="container">

  <h1>DIENSTEN</h1>

<div class="row">
<div class="col-md-6 dienst">
  <h2>BOEKHOUDING</h2>
  <p>Volledige en deskundige verwerking van uw boekhouding en dit voor zowel eenmanszaken als vennootschappen:</p>
  <ul>
    <li>Verwerken van aan- en verkoopfacturen</li>
    <li>Tussentijdse rapporteringen</li>
    <li>Opstellen van balans en resultatenrekening</li>
    <li>...</li>
  </ul>
  <p>Na het verwerken van al de gegevens,
    worden de behaalde resultaten uitvoerig met u besproken,
    alvorens over te gaan tot het opstellen van de jaarrekening.</p>
</div>

<div class="col-md-6 dienst">
  <h2>FISCALITEIT</h2>
  <p>Door de vele wetswijzigingen is het als leek soms moeilijk om het bos door de bomen te blijven zien.
     Alle wijzigingen in de fiscaliteit worden continu opgevolgd,
     waardoor ik steeds op zoek kan gaan naar de beste oplossing voor uw specifieke fiscale situatie.
     Zo zorg ik ondermeer voor:
  </p>
  <ul>
    <li>Het opstellen en indienen van BTW-aangiften en BTW-listings</li>
    <li>Het opstellen en indienen van de aangiften in de personen- en vennootschapsbelasting</li>
    <li>Fiscaal advies met betrekking tot personenbelasting, vennootschapsbelasting en BTW</li>
    <li>Bijstand en verdediging van uw dossier bij belastingcontroles</li>
    <li>Het opmaken en verdedigen van bezwaarschriften</li>
    <li>Fiscale optimalisatie</li>
    <li>...</li>
  </ul>
</div>
</div>


<div class="row">
<div class="col-md-6 dienst">
  <h2>STARTERSADVIES</h2>
  <p>Begeleiding bij de opstart van uw onderneming:</p>
  <ul>
    <li>Keuze tussen eenmanszaak en vennootschap</li>
    <li>Opmaak van uw businessplan of financieel plan</li>
    <li>Aanvraag van onderneming-, registratie, en BTW-nummer,...</li>
    <li>Aansluiting bij Sociaal Verzekerkingsfonds</li>
    <li>Bijstand bij de aanvraag van financieringen</li>
    <li>...</li>
  </ul>
</div>

<div class="col-md-6 dienst">
  <h2>RAADGEVER INZAKE BEDRIJFSBEHEER</h2>
  <p>De boekhouder-fiscalist kan de rentabiliteit van uw onderneming analyseren. In functie hiervan kan hij/zij voorstellen doen,
    bv. op fiscaal vlak, om de economische gezondheid van uw onderneming te onderhouden en/of te verbeteren.
    Dit zowel op korte als lange termijn (bv. organisatie van de opvolging).
  </p>
</div>
</div>

</div>-->

<section  class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Diensten<br/></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow animated slideInLeft" data-wow-delay=".5s">
          <br />
          <br />
            <div>
                <i class="fa fa-book features-icon"></i>
                <h2>Boekhouding</h2>
                <p>Het inboeken van de facturen tot de opmaak en het indienen van de BTW-aangifte <br />
                Advies en controle van de door de klant gevoerde boekhouding <br />
                Tussentijdse balansen opmaken en bespreken <br />
                Het opstellen van de jaarrekening <br />
                Financiële analyse</p>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="m-t-lg">
                <i class="fa fa-bar-chart features-icon"></i>
                <h2>Fiscaliteit</h2>
                <p>Uw belastingaangiften invullen en optimaliseren <br />
                  U adviseren over BTW <br />
                  U bijstaan bij belasting- en BTW-controles <br />
                  U adviseren en bijstaan bij geschillen met de fiscus</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="images/perspective.png" alt="dashboard" class="img-responsive">
        </div>
        <div class="col-md-3 text-center wow animated slideInRight" data-wow-delay=".5s">
          <br />
          <br />
            <div>
                <i class="fa fa-money features-icon"></i>
                <h2>Fiscaal advies</h2>
                <p>Onze fiscaliteit is sterk verweven met de boekhouding. Toch bent u het als ondernemer, die de koers van uw schip bepaalt.
                   Opdat u geen beslissingen zou nemen die u geld kosten maar wel geld opbrengen is het altijd nuttig om de geplande acties vooraf met mijn kantoor te overleggen.
                   We bekijken dan het financieel aspect van uw te varen koers, met de consequenties op alle vlakken, ook de juridische. Zo kunnen wij u behoeden van onaangename verrassingen.</p>
            </div>
            <br />
            <br />
            <div class="m-t-lg">
                <i class="fa fa-globe features-icon"></i>
                <h2>Algemeen advies</h2>
                <p>Uw zaak opstarten <br />
                  Waardebepalingen uitvoeren van een onderneming <br />
                  Kredietdossiers begeleiden</p>
            </div>
          </br>
        </div>
    </div>
</section>
