<div class="container-home wow animated slideInUp">
  </br>
  </br>
  <!--<div class="row">
    <h3 class="home-title">Welkom op de website van het boekhoudkantoor van <strong>Denivel Sonia</strong></h3>
</div>-->

<p>Heeft u passie voor ondernemen, maar niet voor uw boekhouding? Heeft u ambitieuze ideeën? Bent u als ondernemer op zoek naar een boekhouder die méér doet dan alleen
   financiële gegevens administratief verwerken? Dan bent u bij boekhoudkantoor Denivel Sonia aan het juiste adres om u berekenend altijd in balans te houden.
   Ik maak graag een <a href="#/contact">vrijblijvende afspraak</a> met u om over uw plannen en ideeën te praten.</p>

   </br>
   </br>

  <div class="row">

    <div class="col-md-6">
      <h3>Wat kan ik u aanbieden?</h3>

      <p> Boekhoudkantoor Denivel Sonia is een erkend boekhoudkantoor dat voor alle ondernemers toegankelijk is en waar een persoonlijke aanpak op de eerste plaats komt.
          Als boekhoudkantoor wil ik garant staan voor een persoonlijke aanpak, waarbij ik belang hecht aan een duurzame en persoonlijke relatie met de klant.</p>

          <div class="view hm-zoom">
              <img src="images/bibf2.png" alt="denivel sonia" id="bibf-logo" class="img-fluid" width="80" height="80">
          </div>

      </div>

    <div class="col-md-6 n">
      <h3>Wat mag u verwachten?</h3>

      <p>Het is mijn taak om u deskundig te adviseren en u een volledige service aan te bieden van het vervullen van alle wettelijke juridische- en boekhoudkundige
         formaliteiten tot het indienen van alle fiscale aangiften. Mijn rol beperkt zich echter niet tot het opmaken van de jaarrekening of het vervullen
         van de fiscale verplichtingen. U kan namelijk rekenen op een actieve begeleiding en adviesverlening met een correcte boekhouding als vertrekpunt.</p>

         <p>Bent u overtuigd dat ik de juiste vertrouwenspersoon voor u kan zijn? Neem dan vrijblijvend <a href="#/contact">contact</a> op voor een eerste afspraak.
         Raadpleeg zeker het overzicht van onze diensten: boekhouding, ....
         Verder vindt u op deze website tal van nuttige informatie, interessante links en een overzicht van nuttige nummers en fiscale en administratieve vervaldata.</p>
    </div>

    </div>
</div>
