<div class="container-links" ng-controller="linksController as linksCtrl">
    <h1>LINKS</h1>

    <div class="row">
    <div class="col-md-5 wow animated slideInLeft" data-wow-delay=".5s">

    <h3>Beroepsorganisaties</h3>

    <a  href="" ng-click="redirectToNbb()">www.nbb.be</a>  <!--href="https://www.nbb.be/en/language-picker"-->
    <p>Nationale Bank van België NV.</p>

    </br>

    <a href="" ng-click="redirectToFgov()">www.ejustice.just.fgov.be/cgi/welcome.pl</a>
    <p>Belgisch Staatsblad.</p>

    </br>

    <a href="" ng-click="redirectToBibf()">www.bibf.be</a>
    <p>Beroepsinstituut van erkende boekhouders en belastingsconsulenten.</p>

    </br>

    <a href="" ng-click="redirectToIbr()">www.ibr-ire.be</a>
    <p>Beroepsinstituut van erkende boekhouders en belastingsconsulenten.</p>

    </br>

    <a href="" ng-click="redirectToCnc()">www.cnc-cbn.be</a>
    <p>Commissie voor Boekhoudkundige Normen.</p>

    </br>

    <a href="" ng-click="redirectToKbo()">kbopub.economie.fgov.be</a>
    <p>Kruispuntbank</p>

    </br>

    <a href="" ng-click="redirectToFinancien()">financien.belgium.be</a>
    <p>Financiën</p>

    </br>

  </div>
  <div class="col-md-2"></div>
  <div class="col-md-5 wow animated slideInRight" data-wow-delay=".5s">

    <h3>Wettelijke formaliteiten</h3>

    <a href="" ng-click="redirectToJustitie()">justitie.belgium.be</a>
    <p>FOD Economie</p>

    </br>

    <a href="" ng-click="redirectToTax()">ec.europa.eu/taxation_customs/vies/</a>
    <p>Controle buitenlandse BTW-nummers.</p>

    </br>

    <a href="" ng-click="redirectToGm()">financien.belgium.be/nl/gestructureerde-mededeling</a>
    <p>Gestructureerde mededeling BTW en voorafbetalingen belastingen.</p>

    </br>
    <!--<h3 id="desc">Belastingaangifte invullen</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_5p8Pgv6FlA" frameborder="0" allowfullscreen align="middle"></iframe>-->
  </div>
  </div>
</div>
